<script type="text/html" id="book-row">
	<tr>
		<td><%=id%></td>
		<td><%=title%></td>
		<td><%=description%></td>
		<td><%=author%></td>
		<td><%=quantity%></td>
		<td>
			<button class="btn btn-xs btn-danger">remove</button>
			<button class="btn btn-xs btn-success">update</button>
		</td>
	</tr>
</script>
